# OPEN AI 
OPENAI_API_KEY=sua_chave_aqui

# TAVILY
TAVILY_API_KEY=sua_chave_aqui

#Database
POSTGRES_URI=sua_uri_postgres

# QDRANT
QDRANT_HOST=localhost
QDRANT_PORT=6333

# LangSmith
LANGSMITH_API_KEY=sua_chave_aqui
